{% extends '::base.html.twig' %}

{% block body%}
    <img src="{{ asset('image/logo.jpg') }}" width="120" height="70">
    <div class="log">
    <img src="{{asset('image/lg.jpg') }}" width="120" height="70">
    </div>
    <h1 class="Gestion">GESTION DES PERSONNEL ET FORMATION</h1>

    <h1 class="Personne">personne</h1>
    <h1 class="Format">formation</h1>
    <div class="personne">
        <img  src="{{asset('image/ab.jpg }}" width="320" height="200" align="left" class="personnel">
    <div class="for">
    <img  src="{{'asset('image/form.png' }}" width="320" height="200" >
    </div>
{% block stylesheets %}
{% endblock %}

