
{% extends 'layout.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{asset('bundles/mdwgestion/css/style_show.css')}}">
<body bgcolor="pink" >
<body background="1.jpg" id="img" >
<img src="logo.jpg" width="120" height="70">
<div class="log">
    <img src="lg.jpg" width="120" height="70">
</div>
<h1 class="Gestion">GESTION DES PERSONNE ET FORMATION</h1>

<h1 class="Personne">Formation</h1>
<div><h1 class="Format">Personne</h1></div>
<div class="pers">
    <a href="gestion_personel/index.html"><img  src="images/ab.jpg" width="320" height="200" align="left" class="personnel"></a></div>
<div class="for">
    <a href="gestion_formation/index.html"><img  src="images/form.png" width="320" height="200" class="formation" ></a>
</div>
{% endblock %}

{% extends 'layout.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{asset('bundles/mdwgestion/css/style_show.css')}}">
<body bgcolor="" >
<body background="1.jpg" id="img" >
<img src="logo.jpg" width="120" height="70">
<div class="log">
    <img src="lg.jpg" width="120" height="70">
</div>
<h class="Gestion">GESTION</h><h class="des"> DES</h><h class="personnels"> PERSONNEL</h><h class="et"> ET </h><h class="formations"> FORMATION</h>

<h1 class="Personne">Amin</h1>
<div><h1 class="Format">User</h1></div>
<div class="pers">
    <a href="gestion_personel/index.html"><img  src="images/admin.jpg" width="320" height="200" align="left" class="personnel"></a></div>
<div class="for">
    <a href="gestion_formation/index.html"><img  src="images/dd.png" width="320" height="200" class="formation" ></a>
</div>
{% endblock %}
