<html>

<head>

<title>Ajouter</title>

<style type="text/css">
.log{
position:absolute;
top:9px;
left:1230px;
}

.bouton1{
background-color: #f44336;
padding: 10px 20px;
}
.bouton2{
background-color: #f44336;
padding: 10px 20px;
}
input[type=int]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=date]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


</style>
</head>

<body>
<body style="background-color:">
<img src="asset{{'image/logo.jpg'}}" width="120" height="70">
<div class="log">
<img src="lg.jpg" width="120" height="70">
</div>

  {#<form action='scripts/ajout.php' method='post' name="ajouter" enctype="multipart/form-data">
    <table width=60% height="284" border=1 align=center  bgcolor="#EBEBEB">
      <tr>
        <td colspan=7 bgcolor="#EBEBEB"><div align="center" class="Style5 Style8">
            <h3 class="Style6 Style9">AJOUTER UNE FORMATION </h3>
        </div></td>
      </tr>
      <tr>
        <td colspan=2><h4 class="h42">
          <strong>Formation</strong></td>
        <td colspan=4><h5><input class='text' type="text" name="formation" size=30 maxlength=30 width=40></td>
      </tr>
      <tr>
        <td colspan=2><h4 class="h42">
          <strong>Seminaire<span class="Style7"></span></strong></td>
        <td colspan=4><h5><input class='text' type="int" name="seminaire" size=30 maxlength=50></td>
      </tr>
      <tr>
        <td colspan=2><h4 class="h42">
          <strong>Date Debut</strong></td>
        <td colspan=4><h5><input class='text' type="date" name="date_debut" size=0 maxlength=50></td>
      </tr>
      <tr>
        <td colspan=2><h4 class="h42">
          <strong>Date Fin</strong></td>
        <td colspan=4><h5><input class='text' type="date" name="date_debut" size=50maxlength=50></td>
      </tr>
       <tr>
        <td colspan=2><h4 class="h42">
          <strong>Année</strong></td>
        <td colspan=4><h5><input class='text' type="int" name="année" size=30 maxlength=50></td>
      </tr>
 <tr>
        <td colspan=2><h4 class="h42">
          <strong>Nbr De Personne</strong></td>
        <td colspan=4><h5><input class='text' type="int" name="nbr_de_personne" size=30 maxlength=50></td>
      </tr>
<tr>
        <td colspan=2><h4 class="h42">
          <strong>Matricule</strong></td>
        <td colspan=4><h5><input class='text' type="int" name="matricule" size=30 maxlength=50></td>
      </tr>
      
 <tr>
        <td colspan=2><h4 class="h42">
          <strong>Categories</strong></td>
        <td colspan=4><h5><select name="type">
          <option selected value="D">D
          <option value="I">I
          <option value="E">E
<option selected value="A">A
          <option value="C">C
         
        </select></td>
      </tr>
    </table>
    <br><br>
    <table width=50% align=center>
      
	  <tr>
        <td align=center><input class="bouton1" type="submit" name="Enregistrer" value="Enregistrer"> <input class="bouton2" type="reset" name="Effacer" value="Effacer"></td>
      </tr>
	  
	  
    </table>
  </form>#}


</body>

</html>
