
{% extends 'layout.html.twig' %}

{% block body%}

 <img src="{{ asset('image/logo.jpg') }}" width="120" height="70">
<div class="log">
    <img src="{{'image/lg.jpg'}} " width="120" height="70">
</div>
<h1> GESTION DES PERSONNEL ET FORMATION</h1>
<h1 class="Personne">Bienvenue</h1>
<div class="pers">
  <img  src="{{asset('image/cc.jpg'}}" width="320" height="200" align="left" class="personnel">

 {{% endblock%}}